body {
    background-color: rgb(8, 161, 227);
    margin: 0;
}

main {
    background-color: white;
    max-width: 1000px;
    min-height: 100vh;
    margin: auto;
    padding: 20px 50px;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45pt;
}

form {
    text-align: center;
}

#toAdd {
    font-size: 25pt;
    text-align: center;
    border-radius: 10rem;
    transition: 0.1s;
}

#toAdd:hover {
    border-color: rgb(8, 161, 227);
    border-width: 5px;
}

#validationBtn {
    font-size: 20pt;
    margin-top: 30px;
}

#result {
    text-align: center;
    font-size: 58pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: coral;
}